<h1 class="text-center">Editing Loja</h1>

<%= render 'form', loja: @loja %>

<br/>

<%= link_to 'Show', @loja, class: "btn btn-outline-dark" %> 
<%= link_to 'Back', root_path, class: "btn btn-outline-dark" %>
