<h1>Menu</h1>
  <h2>Bem Vindo Cliente</h2>
  <% link_to 'Enderecos', enderecos_path%>
  <% link_to 'Fazer um pedido', new_pedido_path%>
  <% link_to 'Meus Pedidos', pedidos_path %>
  <% link_to 'Editar login', edit_user_registration_path%>
  <% link_to 'Sair', destroy_user_session_path, method: :delete%>
