<h1>Menu</h1>
  <h2>Bem Vindo Cliente</h2>
  <li><%= link_to 'Enderecos', enderecos_path%></li>
  <li><%= link_to 'Fazer um pedido', new_pedido_path%></li>
  <li><%= link_to 'Editar login', edit_user_registration_path%></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete%></li>
