<h1>Menu</h1>
<h2>Bem Vindo Administrador</h2>
<li><%= link_to "Sabores", sabors_path %></li>
<li><%= link_to "Novo Usuário", new_user_registration_path %></li>
<li><%= link_to 'Editar login', edit_user_registration_path%></li>
<li><%= link_to 'Sair', destroy_user_session_path, method: :delete%></li>
