<h1>Menu</h1>
<h2>Bem Vindo Administrador</h2>
<% link_to "Pedidos", pedidos_path %>
<% link_to "Sabores", sabors_path %>
<% link_to "Clientes", clientes_path %>
<% link_to "Administradores", adms_path %>
<% link_to "Entregadores", entregadors_path %>
<% link_to "Loja", @loja %>
<% link_to 'Editar login', edit_user_registration_path%>
<% link_to 'Sair', destroy_user_session_path, method: :delete%>
