<h1>Cardápio</h1>
<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% sabors = Sabor.all %>
    <% sabors.each do |sabor| %>
      <tr>
        <td><%= sabor.descricao %></td>
        <td><%= sabor.preco %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
