<h1 class="text-center">Cardápio</h1> <br/>
<table class="table bg-dark">
  <thead class="text-center table-dark">
    <tr>
      <th>Descrição</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
    <% sabors = Sabor.all %>
    <% sabors.each do |sabor| %>
      <tr class="text-center table-warning">
        <td><%= sabor.descricao %></td>
        <td><%= sabor.preco %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
