<h1 class="text-center">Editing Sabor</h1>

<%= render 'form', sabor: @sabor %>

<%= link_to 'Show', @sabor, class: "btn btn-outline-dark" %> |
<%= link_to 'Back', sabors_path, class: "btn btn-outline-dark" %>
