<h1>Editing Pedido</h1>

<%if !current_user.adm %>
    <%= render 'form', pedido: @pedido %>
<%else%>
    <%= render 'form_adm', pedido: @pedido %>
<%end%>

<%= link_to 'Show', @pedido, class: "btn btn-outline-dark" %> |
<%= link_to 'Back', pedidos_path, class: "btn btn-outline-dark" %>
