<h1 class="text-center">Editar Endereco</h1>

<%= render 'form', endereco: @endereco %>

<%= link_to 'Show', @endereco, class: "btn btn-outline-dark" %> 
<%= link_to 'Back', enderecos_path, class: "btn btn-outline-dark" %>
